body {
    background-color: rgb(245, 245, 245);
    font-family: 'Benne', serif;
    color: rgb(27, 27, 27);

}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
address {
    text-align: right;
    line-height: 10%;
}

address p:first-child {
    font-size: 1.25rem;
}
dl, details {
    color: rgb(112, 112, 112);

}
